@import "../../styles/variables.scss";

.header {
  width: 100vw;
  height: 50px;
  background-color: $main_color;

  @media (max-width: $xl) {
    background-color: purple;
  }
  @media (max-width: $lg) {
    background-color: green;
  }
  @media (max-width: $md) {
    background-color: yellow;
  }
  @media (max-width: $sm) {
    background-color: red;
  }
}
